<div class="text-center m-3">
	<ul class="list-inline">
		<li class="list-inline-item"><button class="btn btn-outline-info"><h1><a href="#manifesto">SCIACCHETRAIL</a></h1></button></li>
		<li class="list-inline-item"><button class="btn btn-outline-info"><h1><a href="#viticoltori">VITICOLTORI</a></h1></button></li>
		<li class="list-inline-item"><button class="btn btn-outline-info"><h1><a href="#virtual">VIRTUAL</a></h1></button></li>
	</ul>
</div>

<div class="container-fluid">
  <img class="img-fluid w-100" src="{{site.baseurl}}/assets/images/banner_img.jpg">
</div>


<hr>