<h1 class="text-center">VIRTUAL SCIACCHETRAIL: I PRODUTTORI</h1>


<div class="card-group">

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Cantine Litan</h2>
        <p class="card-text">Circa 20 anni fa la famiglia “Litan” (Francesco&Lara, Luigi e Orlando) e’ partita con l’ambizioso progetto di riportare in coltivazione i vigneti a strapiombo sul mare: la “Costa de Sera”. Il loro vigneto è di circa 10.000 metri quadrati.</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="http://www.litan.it">www.litan.it</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Cantina Crovara</h2>
        <p class="card-text">Aperta nel 2008, con la sua prima vendemmia Cantina Crovara ha prodotto 600 bottiglie di vino Cinque Terre DOC. Nel corso degli ultimi 10 anni, Alessandro ha rimesso in coltivazione diversi lotti di terreni incolti, dove ha piantato nuove barbatelle di Bosco, Vermentino e Albarola.</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="https://www.facebook.com/CantinaCrovara">Cantina Crovara (FB)</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Cantina Tobioli</h2>
        <p class="card-text">Cantina dei tobioli dal 2006 produce Cinque Terre DOC nella loro piccola cantina a Manarola. Le loro uve vengono da vecchie vigne di famiglia, che consentono loro di produrre anche un vino speciale, macerato sulle bucce, una cru della Costa de Campu a Manarola</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="https://www.facebook.com/cantina.tobioli">Cantina Tobioli (FB)</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Cantine Forlini Capellini</h2>
        <p class="card-text">La Cantina Forlini Cappellini, fondata nel 1986 da Alberto Cappellini e dalla moglie Germana Forlini, e’ stata uno dei primi produttori di vino DOC Cinque Terre. Hanno un ettaro di vigneto</p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Azienda Agricola Possa</h2>
        <p class="card-text">Da bimbo Heydi ha passato molto del suo tempo libero nel piccolo rustico della famiglia, che domina il vigneto nella valle verticale di Possaitara a Riomaggiore, sognando di avere un giorno un vigneto tutto suo. Quel sogno e’ diventato realta’ nel 2004</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="http://www.possa.it">www.possa.it</a></small></p>
    </div>
  </div>

</div>


<div class="card-group">

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Azienda Agricola Burasca</h2>
        <p class="card-text">Burasca ha iniziato a produrre commercialmente vino nel 2006, ognimodo, Cesare ha da sempre prodotto vino. Produceva vino il nonno, soprannominato “Burasca”, poi suo zio e infine lui.</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="www.facebook.com/Cantineburasca">Cantine Burasca (FB)</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Azienda Agricola Campogrande</h2>
        <p class="card-text">Campogrande nasce nel 2008 in collaborazione tra il produttore di Barolo, Elio Altare, e Antonio Bonanni, viticoltore delle Cinque Terre. Nel 2018 il nipote di Antonio, Simone Bonanni, si e’ unito a loro</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="https://www.cinqueterre-campogrande.com">www.cinqueterre-campogrande.com</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Azienda agricola Riccardo Fino e Davide Bordone – “I Magnati”</h2>
        <p class="card-text">Riccardo e Davide coltivano un ettaro e mezzo di vigneto, diviso in diversi lotti di terreno. Il loro sito piu’ vasto e’ situato nella zona chiamata I Magnati, da li’ il loro nome. Inizialmente loro producevano solo Sciacchetrà, ma hanno aggiunto ai loro vini un Passito Rosso e un Cinque Terre DOC</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="https://www.facebook.com/I-Magnati-Cinqueterre-343730902717208/">I Magnati (FB)</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Azienda agricola Cooperativa Agricoltura</h2>
        <p class="card-text">Nel 1982 la Cantina Sociale ha aperto la moderna cantina che si trova in Groppo, dove e’ ancora situata ora. La Cantina acquista uve dai contadini dei tre Comuni, e produce una varieta’ di vini DOC Cinque Terre DOC (diverse cru), compreso lo Sciacchetrà.</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="https://www.cantinacinqueterre.com/it/">www.cantinacinqueterre.com/</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    	<h2 class="card-title">Aziende Agricole Sassarini E A Scia’</h2>
        <p class="card-text">L’Azienda Agricola Sassarini nasce nel 1968 dall’intuizione di Natale Sassarini che la fonda prima del disciplinare della DOC del 1973. Oggi siamo alla seconda generazione nella speranza che la storia continui per mano di nostra figlia</p>
      <p class="card-text"><small class="text-muted"><a target="_blank" href="https://cantinasassarini.com">cantinasassarini.com</a></small></p>
    </div>
  </div>

</div>

