---
layout: it/default
lang: it
title: Virtual 
permalink: /
---


    <button class="btn btn-outline-warning" onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>


    <div class="container">
      <h1 id="manifesto" class="text-center">VIRTUAL SCIACCHETRAIL</h1>
      <span class="text-justify" style="font-size: 125%;">
        Se c’è una lezione importante
appresa dopo 5 anni di Sciacchetrail, a contatto con centinaia di trail runner da
tutto il mondo, è che la corsa in natura su lunghe distanze, inevitabilmente,
conduce a scoprire e a contare su sé stessi, sulla propria capacità di reagire alle
difficoltà e, sebbene si affronti da soli, a trovare nel vicino la forza ed il sostegno
per tagliare un traguardo che sembrava irraggiungibile.<br>
In sostanza si continua ad essere un trail runner ad ogni latitudine del mondo,
anche quando non si corre. I valori della corsa in natura, come il rispetto per
l’ambiente e le comunità ospitanti, persistono nella vita di tutti i giorni perché sono
universali e più che mai utili, oggi, in un mondo in emergenza sanitaria che sembra
aver smarrito il senso delle cose: l’ascolto della natura, dei suoi ritmi. La non
replicabilità di certi luoghi. Il diritto a vivere in un ambiente in salute, ormai il vero
lusso della nostra epoca. Un patrimonio universale che attraversa lo spazio ed il
tempo, nell’attesa che tutto torni alla normalità. Anzi meglio di prima.
Dopo aver ricevuto centinaia di messaggi di affetto e vicinanza abbiamo deciso
di ribaltare il punto di vista su questo momento difficile. E come? Non rinunciando a tutte le cose belle di Sciacchetrail.<br>
Nei giorni 27 e 28 marzo 2020, date in cui avrebbe dovuto svolgersi la 6^ edizione,
porteremo il “vino, la corsa, la comunità, la bellezza del paesaggio, la creatività e
la gioia” in rete, lanciando una call to action attraverso un’edizione virtuale, rivolta
ai runner, agli organizzatori, agli sponsor tecnici e locali ed ai volontari: tutte le
anime che hanno contribuito a rendere così speciale questo ultratrail con
partenza e arrivo a Monterosso.<br><br>

Virtual Sciacchetrail si svolgerà sui profili social della gara e su quelli della Pro Loco
Monterosso, compagna da sempre di questa straordinaria avventura insieme
all’ASD Cinque Terre e a Cinque Terre Trekking.
<br>
Per sentirsi sempre parte della tribù Sciacchetrail, divertirsi, emozionarsi ancora.
Condividendo i nostri e i vostri momenti più significativi, coinvolgendovi in tante
attività alla scoperta del paesaggio e delle sue eccellenze. Un promemoria per
coloro che vorranno tornare a correre sui sentieri delle Cinque Terre quando
questo momento difficile sarà passato, per rigenerarsi in un paradiso dell’outdoor
lontano dalle banalizzazioni del turismo di massa.
<br><br>
>>>I VIGNAIOLI AL LAVORO. Intanto i viticoltori si stanno prendendo cura del
nostro paesaggio, continuano a coltivare la vigna, a costruire i muri a secco,
sfidando le verticalità che tanto amate. Scoprite i produttori delle Cinque Terre al
link Sciacchetrà, vino, produttori<br><br>
★ Un ringraziamento particolare va agli Enti che hanno concesso il patrocinio
all’evento rinviato al 2021: Regione Liguria, Parco Nazionale delle Cinque Terre,
Comuni di Riomaggiore, Vernazza e Monterosso al Mare; e a UISP Liguria, CAI
Soccorso Alpino La Spezia, Vigili del Fuoco, e Pubbliche assistenze delle Cinque
Terre indispensabili presidi organizzativi e di sicurezza sempre al nostro fianco.
<br><br>
<h2>COME SI PARTECIPA AL VIRTUAL SCIACCHETRAIL</h2>
<br><br>
SEGUI IL PROGRAMMA PER CONDIVIDERE I TUOI CONTENUTI E PARTECIPARE ALLE ATTIVITÀ SUI PROFILI
<br>
INSTAGRAM E FACEBOOK DI SCIACCHETRAIL E DI PRO LOCO MONTEROSSO<br>
Usa sempre il tag @Sciacchetrail e @ProlocoMonterosso e gli hashtag
#virtualsciacchetrail #sciacchetrail #prolocomonterosso per condividere i tuoi contributi
<br><br>
<strong>Venerdi 27 Marzo 2020 a partire dalle ore 16</strong>
<br>
<< STORIES of WINE: tutorial alla scoperta del Vino DOC Cinque Terre, e
delloSciacchetrà, a cura della sommelier Yvonne Riccobaldi (A piè du Campu) e altre attività
<br>
<< RACE KIT VIRTUALE: prepara il tuo race kit come se il giorno dopo dovessi prendere parte alla gara. Stampa il pettorale (design by Paco Gentilucci) e scrivi il tuo nome (il pettorale ti verra’ inviato in allegato alla newsletter), fai una foto di tutto il materiale e condividilo con il tag @sciacchetrail
<br><br>
<strong>Sabato 28 Marzo 2020</strong>
<br>
>>ore 7:30 <<3.2.1 VIRTUAL SCIACCHETRAIL 2020 abbia inizio! Partenza Gara Virtuale da Piazza Social Belvedere | count down inizio gara con Lucio De Battè speaker ufficiale di Sciacchetrail dalla finestra di un carruggio di Manarola.<br>
>>CONDIVIDI i momenti più belli ed emozionanti del tuo Sciacchetrail e taggaci dalle 7.30 alle 17.30
<br>
>>ore 16 <<STRETCHING CON OFFICINA POSTURE HOME EDITION <br>
>>ore 17:30 Chiusura Cancello<br>
>>ore 12:00 Pasta Party virtuale a cura team social Proloco Monterosso<br>
PER TUTTA LA GIORNATA Playlist Virtual Sciacchetrail a cura Van Gunter DJ, Zodda
Dj<br>
>>ore 17:30 Chiusura Cancello VIRTUALE<br><br>
<h2>Prima e durante #VirtualSciacchetrail la Pro Loco Monterosso organizzera’ tutte queste iniziative social</h2>
<br><br>
Venerdi 27 Marzo 2020

>>ore 21.00 << Lancio di“LAB-SCIACCHETRAIL crea il tuo pettorale per il VIRTUAL- MINI SCIACCHETRAIL“. Colora il tuo pettorale con spezie e pasta, scegli il tuo numero di gara, scatta una foto condividila e taggaci (attività per bambini) #virtualminisciacchetrail
<br>
>>ore 10.00 << Lancio contest, Sabato 28 marzo dalle 7.30 alle 17.30 “stendi le tue t-shirt SCIACCHETRAIL” scatta una foto condividila e taggaci
<br>
>>ore 14.00<< “APERI SCIACCHETRAIL”Scattati una foto alle 19.00 con bicchiere di
VINO CINQUE TERRE (se lo hai) ma soprattutto sfoggia il tuo outfit da atleta<br>
>>ore 21.00<<“Virtual Pasta Party LASAGNE AL PESTO PER TUTTI - VIDEO
TUTORIAL delle famose Lasagne al Pesto made in Sciacchetrail con Tarter Chef, in collaborazione con Pesto Baicò: scatta una foto alle tue lasagne taggaci e condividila domani alle 12.00 #sagravirtuale #virtualpastapartysciacchetrail
<br><br>
<strong>Sabato 28 Marzo 2020</strong>
<br>
>>ore 12:00 Pasta Party virtuale a cura team social Proloco Monterosso<br>
<< Carica le tue foto“LASAGNE AL PESTO PER TUTTI” #sagravirtuale #virtualpastapartysciacchetrail #prolocomonterosso<br><br>

<a href="mailto:info@sciacchetrail.com">info@sciacchetrail.com</a>
      </span>
    </div>

<hr class="m-3">
    <div class="m-3 container text-center">
      <button class="btn btn-outline-info"><h1>
      <a target="_blank" href="{{site.baseurl}}/assets/images/pettorale_virtual_2020.pdf">SCARICA IL TUO PETTORALE!</a>
    </h1></button></div>

<hr class="m-3">
    <div class="container" id="viticoltori">
      {% include it/viticoltori.html %}
    </div>

<!--hr class="m-3">
    <div class="container" id="dormire">
      {% include dormire.html %}
    </div-->

<hr class="m-3">
    <div class="container" id="virtual">
      {% include it/virtual.html %}
    </div>

