---
layout: home2
lang: it
title: Home page
permalink: /
---
<h1 class="font-weight-bold">{{ "Sciacchetrail 2020"}}</h1>
<br>

<img class="img-fluid" src="{{site.baseurl}}/assets/images/foto_home_04.png" style="max-height: 600px;">

<div class="row" style="margin-top: -20px; margin-left: 10px; margin-right: 10px;">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title font-weight-bold">PERCORSO</h2>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        <a href="#" class="btn btn-primary">Link 1</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title font-weight-bold">INFO GARA</h2>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        <a href="#" class="btn btn-primary">Link 2</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title font-weight-bold">SCIACCHETRAIL 365</h2>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
        <a href="#" class="btn btn-primary">Link 3</a>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid" style="background-color: #EFEFEF;">
  {% include notizie.html %}
</div>

<div class="container-fluid">
  {% include mappa_percorso.html %}
</div>


