---
layout: en/default_en
lang: en
title: Virtual 
permalink: /index_en/
---

    <button class="btn btn-outline-warning" onclick="topFunction()" id="myBtn" title="Go to top">&uarr;</button>


    <div class="container">
      <h1 id="manifestoen" class="text-center">VIRTUAL SCIACCHETRAIL</h1>
      <span class="text-justify" style="font-size: 125%;">
        If there is an important lesson learned after 5 years of Sciacchetrail, after meeting hundreds of runners from all
over the world, it is that ultra trail running inevitably leads to discovering and counting on yourself, on your ability to react to difficulties, and, although you face them alone, to find in your companions the strength and support to reach a finish
line that seemed unattainable.<br>
In essence we continue to be trail runners at any latitude on earth, even when we're not running. Our values, such as respect for the environment and our host communities, persist in everyday life, as they are universal and more important than ever today, in a world confronted with a global health emergency that seems to be losing a sense of things: listening to nature and its rhythms. The non- replicability of certain places. The right to live in a healthy environment, now the true luxury of our era. A universal heritage that crosses space and time, waiting for everything to return to normal. Indeed better than before.
<br>
After receiving hundreds of messages of solidarity after having to cancel Sciacchetrail 2020, we decided to reverse the narration of this difficult moment.<br>
But how? By not giving up on all of the good things about Sciacchetrail.<br>
On 27 and 28 March 2020, the dates on which the 6th edition was scheduled to take place, we will bring the “wine, running, community, beautiful landscape, creativity and joy” online, launching a call to action, through a virtual edition, for
the runners, organizers and volunteers: all those who have contributed in making this ultratrail with start and finish in Monterosso so special.<br>
Virtual Sciacchetrail will take place on the social media profiles of Sciacchetrail and Pro Loco Monterosso, a constant companion on this extraordinary adventure together with ASD Cinque Terre and Cinque Terre Trekking<br>
We're all a part of the Sciacchetrail tribe, so let's have fun together and get excited again, sharing memorable moments of past editions while creating the future, for when you can return to our beloved Cinque Terre, the real ones, that will
resist and recommence, far from the trivialization of mass tourism.
<br><br>
THE WINEMAKERS AT WORK. Meanwhile, the winemakers are caring for our landscape, they continue to cultivate their vineyards, to build dry stone walls, challenging the verticality that we love. Get to know the winemakers of the
Cinque Terre.
<br><br>
<h2>HOW TO PARTICIPATE IN VIRTUAL SCIACCHETRAIL</h2>
<br><br>

Follow the schedule to share your content and participate in activities on the Instagram and Facebook profiles of Sciacchetrail and Pro Loco Monterosso.
<br>
Use the tag @sciacchetrail<br>
Use the hashtags #virtualsciacchetrail #sciacchetrail to share your content
<br><br>
<strong>Friday 27 March</strong>
<br><br>
<< VIRTUAL RACE KIT: prepare your race kit as if you were running the race, print out
your race bib and write your name on it (you'll receive it in the button below), take a photo
of it all, share it, and tag us @sciacchetrail
<br>
<< STORIES of WINE: video stories to delve into Cinque Terre DOC wine and
Sciacchetrà, with sommelier Yvonne Riccobaldi (A piè de Campu).
<br><br>
<strong>Saturday 28 March</strong>
<br><br>
>>7:30am << 3.2.1 VIRTUAL SCIACCHETRAIL 2020 begins! Virtual Race Start |
Piazza Social Belvedere | count down with Lucio De Battè, official speaker of
Sciacchetrail. <br>
SHARE your favorite Sciacchetrail moments from the last 5 years and tag @sciacchetrail<br><br>
>>12:00 noon<< virtual Pasta Party with team social Proloco Monterosso<br>
>>4:00pm<< STRETCHING HOME EDITION WITH OFFICINA POSTURE<br>
<<ALL DAY>> Virtual Sciacchetrail playlist by DJ Van Goonter, Zodda DJ<br>
>>5:30 pm THE END<br><br>
        <a href="mailto:info@sciacchetrail.com">info@sciacchetrail.com</a>
      </span>
    </div>

<hr class="m-3">
    <div class="container" id="winemakers">
      {% include en/viticoltori_en.html %}
    </div>

<!--hr class="m-3">
    <div class="container" id="dormire">
      {% include dormire.html %}
    </div-->

<hr class="m-3">
    <div class="container" id="virtualen">
      {% include en/virtual_en.html %}
    </div>

