<!--nav class="navbar navbar-expand-xs navbar-light #fff">
	<div class="container row">
		<div class="col-md-8 cols-sm-12"><a class="navbar-brand" href="#">
			<img src="{{site.baseurl}}/assets/images/logo.png" width="482" height="150" class="d-inline-block align-top img-fluid" alt="">
		</a></div>
		<div class="logo col-md-4 col-sm-12">
			<div><img src="{{site.baseurl}}/assets/images/CTT.jpg" class="img-fluid"></div>
			<div><img src="{{site.baseurl}}/assets/images/logo_lasportiva.png" class="img-fluid"></div>
			<div><img src="{{site.baseurl}}/assets/images/ASDPolisportivaNUOVO.jpg" class="img-fluid"></div>
		</div>
	</div>
</nav-->

<div class="text-center m-3">
	<ul class="list-inline">
		<li class="list-inline-item"><button class="btn btn-outline-info"><h1><a href="#manifestoen">SCIACCHETRAIL</a></h1></button></li>
		<li class="list-inline-item"><button class="btn btn-outline-info"><h1><a href="#winemakers">WINEMAKERS</a></h1></button></li>
		<!--li class="list-inline-item"><button class="btn btn-outline-info"><h1><a href="#dormire">OSPITALITA'</a></h1></button></li-->
		<li class="list-inline-item"><button class="btn btn-outline-info"><h1><a href="#virtualen">VIRTUAL</a></h1></button></li>
	</ul>
</div>

<div class="container-fluid">
  <img class="img-fluid w-100" src="{{site.baseurl}}/assets/images/banner_img.jpg">
</div>


<hr>