<h1 class="text-center">VIRTUAL SCIACCHETRAIL</h1>

    <div class="row">
    	<!--div class="col-md-6 col-sm-12">
			<a class="twitter-timeline" href="https://twitter.com/sciacchetrail?ref_src=twsrc%5Etfw">Tweets by Sciacchetrail</a> 
			    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div-->

    	<div class="col-lg-6 col-md-12">

		    <div id="fb-root">
				<script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v4.0"></script>

				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsciacchetrail&tabs=timeline&width=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%;" height="500px;" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

			</div>

		</div>

		<div id="instagram-feed1" class="col-lg-6 col-md-12">
		</div>
		<a href="https://www.instragram.com/sciacchetrail" target="_blank"><h2>INSTAGRAM: FOLLOW US!</h2></a>
	</div>

<!-- 
token accesso: EAAD9laf0k4cBAKwBSWjNfW49w177TRQbynHht8Y1qjaQx9wvZCqltZBb6O14UYctWQfYVtsOJZCSgvkNZAm5VIW8sDbZBzfpnPYJ6IQeAcvwWZCRnlcci6nAQEfx4KCZAkgmZBf1qxl28plmuZAsU2attpqrdGSpy1Sk3g6CwIhcD3XlmowMUfW3VJMuatUVKR2CHWWcLHbJb3gZDZD 

id: 1496233471

1496233471

1496233471.M2E4MWE5Zg==.NmJkMzI5ZDg0ZjIx.NDMyN2IzOGFiNDdmOTJjMWIyMTg=


IGQVJWUFFNR1lIMmxyeVMzU2lPQ2lJSXkwdTNFNjBtZAmh3dWtWX280eWJuRE9yWGx0Q1hfbUN5cmYwYURCeXhiMzVTOXQ4Y1l5aGFhaEFhX2xuclVuVGI0SHAyaHBKWEtReGNudk9XcXI5NGVJTXQwQwZDZD

2519018611682768

1370d34fd39c54db04228c6d0ca1d16b

https://api.instagram.com/oauth/authorize?client_id=2519018611682768&redirect_uri=https://sciacchetrail.com&scope=user_profile,user_media&response_type=code


code=AQAMLfoXWH4oCo0EXqrX50A8w1tJIp8JqpcWkPRE02WcfI9Lx_kFMtVlHgSPXvl1Pm-GK65rFMyse_Wed8W68ubvvpOLDvRz_ZOKeEJJKd6Mf2SEKJuuWZwMcg7E0dVLXPVL8qkU01JKsIOMTm75inkUW9dmr51bs4986eeU7Eu2leWUjjFnYuzA-3BjziKbrwAzxJG7aXjfvNq-F_WF4kigv5VfADIa46TirLPfGqKDwQ#_

curl -X POST \ https://api.instagram.com/oauth/access_token \ -F client_id=684477648739411 \ -F client_secret=eb8c7... \ -F grant_type=authorization_code \ -F redirect_uri=https://socialsizzle.herokuapp.com/auth/ \ -F code=AQDp3TtBQQ...


curl -X POST \ https://api.instagram.com/oauth/access_token \ -F client_id=2519018611682768 \ -F client_secret=1370d34fd39c54db04228c6d0ca1d16b \ -F grant_type=authorization_code \ -F redirect_uri=https://sciacchetrail.com/auth/ \ -F code=AQAMLfoXWH4oCo0EXqrX50A8w1tJIp8JqpcWkPRE02WcfI9Lx_kFMtVlHgSPXvl1Pm-GK65rFMyse_Wed8W68ubvvpOLDvRz_ZOKeEJJKd6Mf2SEKJuuWZwMcg7E0dVLXPVL8qkU01JKsIOMTm75inkUW9dmr51bs4986eeU7Eu2leWUjjFnYuzA-3BjziKbrwAzxJG7aXjfvNq-F_WF4kigv5VfADIa46TirLPfGqKDwQ

{"access_token": "IGQVJXRUZAsRDEtRENvVGZAVdkxKQjFyR1Vwb3ZAEeEVJNmR6SlZANX0h1aTNHcExmcUZAxbXoybzRtSnd1NllsdXhmejRxazdOcUU4UEJud19LYkVicm13c0tiNmtHQXBEMkVKbjJFMzg2cVRkMmx3aU9VcG1XWUVPajlnUjgw", "user_id": 17841401244153378}%

curl -X GET \ 'https://graph.instagram.com/17841405793187218?fields=id,username&access_token=IGQVJXRUZAsRDEtRENvVGZAVdkxKQjFyR1Vwb3ZAEeEVJNmR6SlZANX0h1aTNHcExmcUZAxbXoybzRtSnd1NllsdXhmejRxazdOcUU4UEJud19LYkVicm13c0tiNmtHQXBEMkVKbjJFMzg2cVRkMmx3aU9VcG1XWUVPajlnUjgw'

********************************   ********************************

PRENDO INFO SUI MEDIA
curl -X GET 'https://graph.instagram.com/me/media?fields=id,caption&access_token=IGQVJXRUZAsRDEtRENvVGZAVdkxKQjFyR1Vwb3ZAEeEVJNmR6SlZANX0h1aTNHcExmcUZAxbXoybzRtSnd1NllsdXhmejRxazdOcUU4UEJud19LYkVicm13c0tiNmtHQXBEMkVKbjJFMzg2cVRkMmx3aU9VcG1XWUVPajlnUjgw'

curl -X GET https://graph.instagram.com/17953062652316159?fields=id,media_type,media_url,username,timestamp&access_token=IGQVJXRUZAsRDEtRENvVGZAVdkxKQjFyR1Vwb3ZAEeEVJNmR6SlZANX0h1aTNHcExmcUZAxbXoybzRtSnd1NllsdXhmejRxazdOcUU4UEJud19LYkVicm13c0tiNmtHQXBEMkVKbjJFMzg2cVRkMmx3aU9VcG1XWUVPajlnUjgw'


-->