<nav class="navbar navbar-expand-xs navbar-light #fff">
	<a class="navbar-brand" href="{{site.baseurl}}/">
	<img src="{{site.baseurl}}/assets/images/logosciacchetrail_ctt_sportiva.png" width="286" height="100" class="d-inline-block align-top" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav ml-auto">

			<!--ul>
				{% for lang in site.data.nav %}
			      <li><a href="{{ '/' | append: lang[0] | relative_url }}"
			        class="u-padding-r-all"><span lang="{{ lang[0] }}">{{ lang[1].name }}</span></a></li>
			      {% endfor %}
			</ul-->

<!--
			{% assign pages=site.pages | where:"lang", page.lang %}
	        {% for my_page in pages %}
	          {% if my_page.title %}
	          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
	          {% endif %}
	        {% endfor %}
-->
		</div>
	</div>
</nav>

<hr>