<!doctype html>
<html lang="en">
    {{- partial "head.html" . -}}
<body>
    {{- partial "header.html" . -}}
    <div id="content">
    {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>