<h1 class="text-center">VIRTUAL SCIACCHETRAIL: OSPITALITA'</h1>


<div class="accordion my-accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          B&B BARANIN
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        A Manarola, nel cuore delle Cinque Terre… nell’antica casa rurale “Baranin” …piacevoli spazi abitativi ristrutturati;
        Piccolo Bed and Breakfast, ambiente informale.<br>
		Camere con bagno privato, anche con vista mare e aria condizionata e appartamenti con cucina; connessione wi-fi gratis negli spazi comuni e nella maggior parte delle unità.<br>
		Ricca colazione a buffet<br>
		Per informazioni +39 0187 920595<br>
		Email: info@baranin.com
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          HOTEL MARINA PICCOLA
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
			Nato alla fine degli anni ’70 dal recupero di una vecchia casa di pescatori sul mare e poi ampliato nel 2003, l’ hotel marina piccola è sempre stato uno dei punti di riferimento dell’accoglienza delle Cinque Terre.
			Arredate con gusto ed eleganza classica, le 13 stanze dell’hotel sono luminose e tranquille e da alcune si gode una fantastica vista panoramica sul mare.<br>
			Situato in via Birolli, la via principale che conduce al mare, è comodo da raggiungere sia dalla stazione dei treni (5 minuti a piedi) che dal parcheggio (10 min a piedi)<br>
			Per informazioni Tel +39 0187 920770<br>
			Email: info@hotelmarinapiccola.com
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          HOTEL LUNA DI MARZO
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        L’Albergo Luna di Marzo si trova a Volastra in una posizione panoramica a picco sul mare nel cuore del Parco Nazionale delle Cinque Terre, dichiarato patrimonio mondiale dell’Umanità dall’Unesco.<br>
		Con le sue dieci camere che sovrastano Manarola è circondato da terrazze, ulivi e vigneti. L’Hotel offre ai suoi fortunati ospiti un autentico scorcio sui panorami delle Cinque Terre<br>
		Per informazioni  Tel. +39 0187 920530<br>
		Email info@albergolunadimarzo.com
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          B&B CARUGIU
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        Carugiu B&B, situato nella casa torre di proprieta’ della famiglia Bordoni da generazioni, prende il nome dalla posizione della struttura, si trova infatti in un tipico carugiu ligure, nell’’incantato borgo di Manarola.<br>
		Il B&B Carugiu e’ gestito da Isabella e Paolo Bordoni, nel 2004 hanno deciso di adattare i primi 2 piani della casa e iniziare questa attivita’.<br>
		La conoscenza della comunita’ locale, la genuita’ nel proporsi rende il soggiorno al Carugiu un’autentica “Italian experience”.
		Per informazioni Tel: 0187/920359<br>
		Email: info@carugiu.com
      </div>
    </div>
  </div>


<div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          CASA CAPELLINI
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
		Casa Capellini affitta camere e appartamenti a Manarola. Ospitalità informale, informazioni sul territorio, posizione comoda nella parte alta del paese, a pochi passi dal parcheggio, facilmente raggiungibile dalla stazione ferroviaria, a cinque minuti dal mare.<br>
		Siamo sul sentiero 506: facile raggiungere gli altri sentieri delle Cinque Terre.<br>
		Vista sul mare e sul paese da tutte le stanze per due persone, alcune con il balcone; l’appartamento è completo di tutti gli accessori ed ha un magnifico terrazzo panoramico.<br>
		Bagno in camera, aria condizionata, freeWiFi e prese usb, minifrigo, cassetta di sicurezza, asciugacapelli, bollitore per la preparazione di un thè in ogni stanza.<br>
		Per informazioni  Tel. +39 3493061046<br>
		Email info@casacapellini.it
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          DORMITORIO E RESIDENZA VILLA MESCO, PADRE SEMERIA 
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
      	Per informazioni 0187-819229<br>residenzavillamesco@gmail.com
      </div>
    </div>
  </div>


<div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          CASA RELIGIOSA DI OSPITALITÀ, OSTELLO, RISTORANTE AL SANTUARIO DI N.S. DI SOVIORE A MONTEROSSO
        </button>
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
      	Attorno al Santuario di Nostra Signora di Soviore, a 7 km dal borgo di Monterosso si sviluppa un grande complesso dedicato all’accoglienza immerso nel verde.
		<br>
		Con oltre 100 posti letto Soviore offre diverse soluzioni di soggiorno: sono presenti infatti una casa di ospitalità ed un ostello ideali per gruppi, scolaresche e famiglie.
		Fiore all’occhiello di Soviore, il Ristorante tipico che si affaccia sul grande piazzale panoramico
		<br>
		Punto tappa per escursioniste e crocevia di alcuni tra i sentieri più suggestivi delle Cinque Terre, Soviore offre ai visitatori un’oasi di silenzio e spiritualità con panorami inediti: da Monterosso alla valle di Levanto e, nelle giornate  più terse, dalla Corsica al Monviso, fino alle Alpi Marittime.
		<br>
		Facilmente raggiungibile con automobili, bus, moto, anche dai vicini borghi di Monterosso, Pignone e Levanto, Soviore dispone di un ampio parcheggio gratuito e dista circa 40 minuti di auto dalla Spezia.
		<br>
		Per informazioni Tel. 0187 817385 – Fax 0187 817097
		<br>
		e-mail: info@soviore.it
      </div>
    </div>
  </div>


<div class="card">
    <div class="card-header" id="headingEight">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          HOTEL VILLA ADRIANA
        </button>
      </h2>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
      <div class="card-body">
		L’Hotel Villa Adriana si trova nella parte nuova di Monterosso, a pochi passi dal mare, dalla spiaggia di Fegina e dalla statua del Gigante. E’ raggiungibile direttamente con la macchina e dispone di un parcheggio privato annesso. La stazione ferroviaria dista solo 500 metri. Il sentiero per Levanto inizia nei pressi dell’Hotel.
		<br>
		L’Hotel immerso in un grande giardino di palme e pini è una vera e propria oasi di pace e tranquillità.
		La piscina all’aperto con solarium offre un angolo di relax in ogni periodo della stagione.
		La nostra cappella, luogo di pace e contemplazione, è a disposizione degli ospiti per il raccoglimento spirituale.
		L’Hotel offre ai suoi ospiti il servizio di pernottamento e prima colazione, la mezza pensione (prima colazione e cena) e altre opzioni per mangiare presso il proprio ristorante.
		<br>
		Per informazioni Tel: +39.0187.818109
		<br>
		Email:  info@villaadriana.info      
		</div>
    </div>
  </div>


</div>