<h1 class="text-center">VIRTUAL SCIACCHETRAIL</h1>

    <div class="row">
    	<!--div class="col-md-6 col-sm-12">
			<a class="twitter-timeline" href="https://twitter.com/sciacchetrail?ref_src=twsrc%5Etfw">Tweets by Sciacchetrail</a> 
			    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div-->

    	<div class="col-md-6 col-sm-12">

		    <div id="fb-root">
				<script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v4.0"></script>

				<!--div class="fb-page" data-href="https://www.facebook.com/sciacchetrail" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
					<blockquote cite="https://www.facebook.com/sciacchetrail" class="fb-xfbml-parse-ignore">
						<a href="https://www.facebook.com/sciacchetrail">Sovranista Locale - Cinqueterre</a>
					</blockquote>
				</div-->

				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsciacchetrail&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

			</div>

		</div>

		<div id="instagram-feed1" class="col-md-6 col-sm-12">
		</div>

	</div>

<!-- 
token accesso: EAAD9laf0k4cBAKwBSWjNfW49w177TRQbynHht8Y1qjaQx9wvZCqltZBb6O14UYctWQfYVtsOJZCSgvkNZAm5VIW8sDbZBzfpnPYJ6IQeAcvwWZCRnlcci6nAQEfx4KCZAkgmZBf1qxl28plmuZAsU2attpqrdGSpy1Sk3g6CwIhcD3XlmowMUfW3VJMuatUVKR2CHWWcLHbJb3gZDZD 

id: 1496233471

1496233471

1496233471.M2E4MWE5Zg==.NmJkMzI5ZDg0ZjIx.NDMyN2IzOGFiNDdmOTJjMWIyMTg=



-->