<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">

    <!-- Leaflet plugin per caricare la mappa di openstreet map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
   
   <!-- Leaflet GPX plugin per caricare la traccia sciacchetrail -->
   <!--script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script-->
    <script src="https://rawgithub.com/mpetazzoni/leaflet-gpx/master/gpx.js"></script>

    <title>{{title}}</title>
  </head>
  <body>
    <div class="text-right">
      <a href="{{site.baseurl}}/">ITA</a> |   <a href="{{site.baseurl}}/index_en/">ENG</a> 
    </div>

    
    <div class="container-fluid">
      {% include it/nav_it.html %}
    </div> 

    <div class="container-fluid">
      {{content}}
    </div>

    <div class="container">
      {% include footer.html %}
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- <script type="text/javascript" src="{{site.baseurl}}/assets/js/instafeed.min.js"></script> -->

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <script>
      var mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>


<!-- https://www.sowecms.com/demos/InstagramFeed/ 
    <script src="{{site.baseurl}}/assets/js/InstagramFeed.min.js"></script>
<script>
    (function(){
        new InstagramFeed({
            'username': 'sciacchetrail',
            'container': document.getElementById("instagram-feed1"),
            'display_profile': true,
            'display_biography': true,
            'display_gallery': true,
            'callback': null,
            'styling': true,
            'items': 20,
            'items_per_row': 4,
            'margin': 1 
        });
    })();
</script>
-->
<script>
  
  $(document).ready(function() {
        $.ajax({
            url: 'https://graph.instagram.com/me/media?fields=id,media_url&access_token=IGQVJVbllYU2VYWmkzbXdRekpqMWNLU0VEajR0Nk5qYXFiYm1HaG5HcjZAObjhkSDJ3RDg5bTU5ZAlAwMkJPTWhmS0trMHlEeFdvbEpIT05idk5SSGEweUlRQVk5bm9QT0E4RHpMdkZAB',
            type: 'GET',
            dataType: 'json',
            contentType: "application/json",
            
            success: function(data){
                  n = data.data.length;
                  for (i = 0; i < n; i++) {
                    console.log(data.data[i].media_url);

                    let img = $('<img />', { 
                      class: 'my-img',
                      src: data.data[i].media_url
                    });
                    img.appendTo($('#instagram-feed1'));

                  }
            }
            
        });
    });
</script>
  </body>
</html>
