{{ define "main" }}
<div class="container text-center mt-5">
    <img src="/images/logo.png" alt="sciacchetrail logo" class="fluid">

    <h1 class="mt-3"><b>2021</b></h1><br><br>
    <h1><b>is coming soon...</b></h1>
</div>
{{ end }}